<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href={{static_url( "css/style.css")}} />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ColinShi的测试微博站点</title>
</head>
<header>
    <nav>
        <a href="/">新建VPN服务器</a> |
        <a href="/vpnlist">已有的VPN服务器</a> |
        <a href="/register">注册新用户</a> |
        <a href="/login">登入</a> |
        <a href="/logout">登出</a> |
    </nav>
    <hr/>
</header>

<body>
    {% block body%} {% end %}
</body>
<content>
    {% block content %} {% end %}
</content>
<footer>
    <h5 align="center">{% set website = "<a href='/'>ColinShi的科学上网测试网站</a>" %}
     {% raw website %}</h5>
</footer>

</html>